.cart__submitButton {
  height: 3em;
  width: 6em;
  font-weight: bold;
  font-size: large;
  color: var(--clr-dark);
  border: none;
  background-color: var(--clr-accent);
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  display: block;
  margin: 3em auto;
  cursor: pointer;
}

.cart__submitButton:active {
  -webkit-box-shadow: inset 0px 0px 5px #4f4c4c;
  -moz-box-shadow: inset 0px 0px 5px #413d3d;
  box-shadow: inset 0px 0px 5px #4b4a4a;
  outline: none;
}

.cart__title {
  text-align: center;
  margin: 10px auto;
  color: var(--clr-dark);
}
