*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #f5fffa;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--light-blue);
}
a:hover {
  color: var(--light-blue);
}
a:active {
  color: var(--light-blue);
}

/*Custom Properties*/

:root {
  --clr-light: #f5f5dc;
  --clr-dark: #303030;
  --clr-accent: #4a9e83;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}
