*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

/*Custom Properties*/

:root {
  --clr-light: #f5f5dc;
  --clr-dark: #303030;
  --clr-accent: #4a9e83;

  --fs-h1: 1.5rem;
  --fs-h3: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h3: 1.5rem;
  }
}
/*Typography*/

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

body {
  background: #f5fffa;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

a:visited {
  color: var(--clr-dark);
}
a:hover {
  color: var(--clr-dark);
}
a:active {
  color: var(--clr-dark);
}

/*picture condition size*/

.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}
